body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;

    /*boostrap part */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* stolen form boostrap for responsiveness */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


hr {
    flex-basis: 100%;
    width: 0;
}

.innerbreak {
    border: none;
    margin: 1px;
}

.vertical {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.item-center {
    align-items: center;
}

.item-left {
    align-items: start;
}

.distress-box,
.vitality-box,
.passion-box,
.portfolio-box {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid black;
  margin-left: 2px;
  display: inline-block;
}

.passion-box,
.portfolio-box {
  border-radius: 50%;
}

.portfolio-box {
  width: .75em;
  height: .75em;
}

.box-label {
  margin-left: 5px;
  font-size: 1.25em;
}
.marked {
  background-color: purple;
}

.box-holder {
  /* display: flex;
  align-items: center; */
}

#data-url {
  width: 100%;
  overflow: auto;
}

.die {
  width: 50px;
  height: 50px;
  /* background-color: lightsteelblue; */
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 2em;
  line-height: 2em;
}

#dicepool {
  padding-top: 5px;
  margin-left: auto;
  margin-right:auto;
  border: 1px solid black;
}
