body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

hr {
    flex-basis: 100%;
    width: 0;
}

.innerbreak {
    border: none;
    margin: 1px;
}

.vertical {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.item-center {
    align-items: center;
}

.item-left {
    align-items: start;
}

.distress-box,
.vitality-box {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  margin-left: 2px;
  display: inline-block;
}

.passion-box {
  margin-left: 2px;
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
}

.marked {
  background-color: purple;
}

/* .box-holder {
  display: flex;
} */
